#header{
	left: 0;
	width: 20%;
	background-color: #051120;
	opacity: .75;
	height: 450px;
	text-align: center;
	margin: 0;
}

.button{
	border-radius: 10px;
	// width: 80%;
	color: #949494;
}

.button:hover {
    color: #F9E0A9;
    background-color: #363F4B;
}

