#header{
	left: 0;
	width: 20%;
	background-color: #051120;
	opacity: .75;
	height: 470px;
	text-align: center;
	margin: 0;
	z-index: 4;
	position: relative;
}

.button{
	border-radius: 10px;
  color: #F9E0A9;
  background-color: #363F4B;
}

.button:hover {
	background-color: white;
	cursor: pointer;
}

#tracks{
	cursor: pointer;
}
@media (min-width: 400px) and (max-width: 650px){
	#header{
		width: 100%;
	}
}

@media all and (max-width: 400px){
	#header{
		width: 100%;
	}
}

