@import 'form';
@import 'controls';
$yellow: #F9E0A9;


body{
	background-image: url("../images/mickey.gif");
	background-size: cover;
	background-repeat: no-repeat; 
	background-color: #cccccc;
	color: $yellow;
	font-family: 'Oswald', sans-serif;
}



#body{
	text-align: center;
	z-index: 1;
	margin: 0 auto;
}

#tracks p{
	color: $yellow;
	margin: 0;

}